- var data = mrtData || {};
doctype html 5
html
  head
    // Import Google Icon Font
    link(href=bundle.main.styles, media='all', rel='stylesheet', type='text/css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='title', content='MRT - Diff Board')
  body.grey.lighten-5 
    header
      .navbar-fixed
        nav.mrt-dark
          .nav-wrapper
            .container-full
              .row
                .col.s12
                  a().brand-logo.flow-text.white-text Metadata Regression Testing
                  p.center.flow-text.text-white-light #{diffBoardName}
    main
      .container
        .row
          .col.s12
            .row.stats-and-search
              .col.s4
                h4.text-white-light.center-align Stats:
                  span.stats
                    span#stat-all(value="all")
                      i.material-icons dehaze
                      | #{stats.all} 
                    span#stat-match(value="match")
                      i.material-icons done
                      | #{stats.pass}
                    span#stat-discrepancy(value="discrepancy")
                      i.material-icons clear
                      | #{stats.fail}
              .col.s7.input-field.search
                i.material-icons.prefix search
                input#autocomplete-input.autocomplete(type='text')
                label(for='autocomplete-input') Filter by page name
            ul.collapsible.popout.z-depth-5key#list
              each val, index in data
                li.purple.lighten-5(id = val.id, class = val.diffText ? "discrepancy" : "match" )
                  if val.diffText
                    .collapsible-header.discrepancy
                      i.material-icons sentiment_dissatisfied
                      span.text  #{val.id}
                      span.badge
                        time(datetime = val.statOfActualMTime)
                  else
                    .collapsible-header.match
                      i.material-icons sentiment_very_satisfied
                      span.text #{val.id}
                      span.badge 
                        time(datetime = val.statOfActualMTime)
                  .collapsible-body
                    if val.diffText
                      #viewingOptions.center
                        a.btn.expected._selected Expected
                        a.btn.actual._selected Actual
                        a.btn.diff._selected Diff
                      #settings.right
                        form(action='#')
                            label 
                              span.settings-title Diff View Types
                            label
                              input(name='diff-view-type', value='full', type='radio', checked)
                              span Full
                            label
                              input(name='diff-view-type', value='add' type='radio')
                              span Add
                            label
                              input(name='diff-view-type', value='remove' type='radio')
                              span Remove 
                    if val.diffText
                      table.diff
                        thead
                          tr
                            th.expected Expected
                            th.actual Actual
                            th.diff Diff 
                        tbody
                          tr
                            td.reference.expected
                              code.prettyprint.lang-json= JSON.stringify(val.expectedJson,null,2)
                            td.test.actual
                              code.prettyprint.lang-json= JSON.stringify(val.actualJson,null,2)
                            td.result.diff
                              pre.result()= val.diffText
                    else
                      table.no-diff
                        thead
                          tr
                            th.expected Expected
                            th.actual Actual
                        tbody
                          tr
                            td.reference.expected
                              code.prettyprint.lang-json= JSON.stringify(val.expectedJson,null,2)
                            td.test.actual
                              code.prettyprint.lang-json= JSON.stringify(val.actualJson,null,2)
    footer.page-footer.z-depth-3.mrt-purple-deep
      a.container
        .row
          .col.s12
            p.blue-grey-text.text-lighten-3.about-board This board was made to help visualize diffs that were created from your MRT tests. 
              | Items are stacked in a reserved chronological order based on when the Actual results were modified/created.
              | </br>
              | </br>
              | Happy Viewing! <span>🔬</span>
          
      .footer-copyright
        .container
          span.left.blue-grey-text.text-lighten-3 <b>MRT - Diff Board</b> made with <span> ❤️ </span> by 
            a(href='https://github.com/dimitriharding').blue-grey-text.text-lighten-3 <b>Dimitri Harding</b>
          span.right.blue-grey-text.text-lighten-3 2018 &copy;

    // JavaScript at end of body for optimized loading
    script(type='text/javascript', src=bundle.main.scripts)
     
